@{
    ViewData["Title"] = "Contact";
    
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    De Dreef van Duyvendael 11<br />
    2970 SCHILDE, Belgium<br />
    <abbr title="Phone">P:</abbr>
    +32471591890
</address>

<address>
    <strong>School email:</strong> <a href="mailto:eline.schepers@immalle.be">eline.schepers@immalle.be</a><br />
    <strong>private email:</strong> <a href="mailto:elineschepers1999@gmail.com">elineschepers1999@gmail.com</a><br />
    <strong>gipsite:</strong> <a href="https://scheperse-immalle.Github.io">Eline Schepers</a>
</address>
