@{
    ViewData["Title"] = "Make-up Retail Searcher";
}


    
 

<div class="row">
    <div class="col-md-3">
        <h2><u>Vind make-up producten die je leuk vind voor de laagste prijs</u></h2>
        <p>Deze website helpt jou make-up artikelen te vinden, prijzen van verschillende sites te vergelijken, om ze uiteindelijk bij jou thuis geleverd te krijgen.</p>
    </div>
    <div class="col-md-3">
        <h2><u>We've got what you need!</u></h2>
        <p>Heeft u ook last om de meest trendy make-up merken tot bij jou thuis te krijgen? Zou jij graag de prijzen van verschillende websites vergelijken alvorens je het artikel besteld? Deze site helpt je om het gewilde artikel aan de voordeligste prijs te verkrijgen.</p>
    </div>
    <div class="col-md-3">
        <h2><u>At Your Service</u></h2>
        <ul>
            <li>
                <h3>oogmake-up</h3>
                <p>mascara, eyeliner, oogschaduw, eyeprimer, wenkbrouwpotlood, etc.</p>
            </li>
            <li>
                <h3>gezichtsmake-up</h3>
                <p>foundation, primer, blush, highlighter, concealer, etc.</p>
            </li>
            <li>
                <h3>lippen</h3>
                <p>lipprimer, lippenstift, lipgloss, lipliner, etc.</p>
            </li>
            <li>
                <h3>Made with Love</h3>
                <p>You have to make your websites with love these days!</p>
            </li>

         </ul>
</div>
   
</div>
